.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.filter-label span {
  margin-right: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-inline: 24px;
  max-width: 96vw;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
.no-record {
  text-align: center;
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-block: 20vh;
  margin-top: 20px;
}
